# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Windows Test Builds/
WebGL Test Build/
Web Test Builds/
Editor Build Test/
Android Publishing/ 
NativeAssets/
bin/
kongregate_javascript_api_example/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vs/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

idea.txt